alpaca==1.0.0
celery==5.4.0
cryptography==42.0.8
deepface==0.0.93
Django==5.0.3
djangorestframework==3.15.2
dynaconf==3.2.6
numpy==1.26.4
opencv-python==4.10.0.84
pillow==11.0.0
pytesseract==0.3.13
python-magic==0.4.27
requests==2.32.3
scikit-learn==1.5.0
tenacity==9.0.0
transaction==5.0

decouple~=0.0.7