absl-py==2.1.0
aiohttp==3.9.5
aiosignal==1.3.1
alpaca==1.0.0
alpaca-py==0.31.0
alpha-vantage==2.3.1
amqp==5.2.0
annotated-types==0.7.0
ansicon==1.89.0
argcomplete==3.4.0
arrow==1.3.0
asgiref==3.7.2
astunparse==1.6.3
attrs==23.2.0
beautifulsoup4==4.12.3
billiard==4.2.0
blessed==1.20.0
blinker==1.8.2
blis==0.7.11
boto==2.49.0
CacheControl==0.14.0
cachetools==5.3.3
catalogue==2.0.10
celery==5.4.0
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudpathlib==0.18.1
colorama==0.4.6
confection==0.1.5
crcmod==1.7
cryptography==42.0.8
cymem==2.0.8
decouple==0.0.7
deepface==0.0.93
deepface-cv2==0.0.1
diff-match-patch==20230430
distlib==0.3.9
dj-database-url==2.2.0
Django==5.0.3
django-cors-headers==4.6.0
django-countries==7.6.1
django-crontab==0.7.1
django-environ==0.11.2
django-import-export==4.1.0
django-picklefield==3.2
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.8
dynaconf==3.2.6
fasteners==0.19
filelock==3.16.1
fire==0.7.0
firebase-admin==6.5.0
Flask==3.0.3
Flask-Cors==5.0.0
flatbuffers==24.3.25
frozendict==2.4.4
frozenlist==1.4.1
gast==0.5.4
gcs-oauth2-boto-plugin==3.2
gdown==5.2.0
google-api-core==2.19.1
google-api-python-client==2.137.0
google-apitools==0.5.32
google-auth==2.32.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.16.1
google-cloud-storage==2.17.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-reauth==0.1.1
google-resumable-media==2.7.1
googleapis-common-protos==1.63.2
grpcio==1.64.1
grpcio-status==1.62.2
gsutil==5.30
gunicorn==22.0.0
h5py==3.11.0
html5lib==1.1
httplib2==0.20.4
hypothesis==6.116.0
idna==3.7
inflection==0.5.1
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
jinxed==1.3.0
joblib==1.4.2
keras==3.6.0
kombu==5.3.7
langcodes==3.4.0
language_data==1.2.0
libclang==18.1.1
lightgbm==4.4.0
lxml==5.2.2
lz4==4.3.3
marisa-trie==1.2.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
ml-dtypes==0.4.1
mnemonic==0.20
monotonic==1.6
msgpack==1.0.8
mtcnn==1.0.0
multidict==6.0.5
multitasking==0.0.11
murmurhash==1.0.10
Naked==0.1.32
namex==0.0.8
nltk==3.8.1
numpy==1.26.4
oauth2client==4.1.3
opencv-python==4.10.0.84
opt-einsum==3.3.0
optree==0.11.0
packaging==24.1
pandas==2.2.2
patsy==0.5.6
peewee==3.17.5
pillow==11.0.0
platformdirs==4.2.2
pluggy==1.5.0
preshed==3.0.9
prompt_toolkit==3.0.47
proto-plus==1.24.0
protobuf==4.25.3
psycopg2==2.9.10
psycopg2-binary==2.9.9
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.8.2
pydantic_core==2.20.1
Pygments==2.18.0
PyJWT==2.8.0
PyNaCl==1.5.0
pyOpenSSL==24.1.0
pyparsing==3.1.2
PySocks==1.7.1
pytesseract==0.3.13
pytest==8.3.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-magic==0.4.27
python-magic-bin==0.4.14
pytrends==4.9.2
pytz==2024.1
pyu2f==0.1.5
PyYAML==6.0.2
redis==5.2.0
regex==2024.5.15
requests==2.32.3
requests-sse==0.3.2
retina-face==0.0.17
retry_decorator==1.1.1
rich==13.7.1
rsa==4.7.2
scikit-learn==1.5.0
scipy==1.13.1
sequential==1.0.0
setuptools==70.0.0
shellescape==3.8.1
shellingham==1.5.4
six==1.16.0
smart-open==7.0.4
sortedcontainers==2.4.0
soupsieve==2.5
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlparse==0.4.4
srsly==2.4.8
sseclient-py==1.8.0
statsmodels==0.14.2
stellar-sdk==11.1.0
tablib==3.5.0
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow_intel @ file:///C:/Users/USER/Downloads/tensorflow_intel-2.18.0-cp312-cp312-win_amd64.whl#sha256=a5818043f565cf74179b67eb52fc060587ccecb9540141c39d84fbcb37ecff8c
termcolor==2.4.0
textblob==0.18.0.post0
tf_keras==2.18.0
thinc==8.2.5
threadpoolctl==3.5.0
toml==0.10.2
tqdm==4.66.4
transaction==5.0
typer==0.12.3
types-python-dateutil==2.9.0.20241003
typing_extensions==4.12.2
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.1
vine==5.1.0
virtualenv==20.27.1
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.1
webencodings==0.5.1
websockets==13.1
Werkzeug==3.0.3
wheel==0.43.0
whitenoise==6.7.0
wrapt==1.16.0
xdrlib3==0.1.1
yarl==1.9.4
yfinance==0.2.40
zope.interface==7.1.1
